@model PropertyRentalManagement_FinalProject.Models.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApartmentId }) |
    @Html.ActionLink("Back to List", "OwnerIndex", "Apartments")
</p>
